*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
.bg{
    background-color: rgb(15, 15, 15);
}
button{
  border: 1px solid white !important;
    font-size: 25px!important;

}
button:hover{
    box-shadow: 5px 5px 20px black;
}
input{
    border: 1px solid black;
}
.AA{
    color: rgb(231, 247, 6);
}
.calculet{
    background-color:  rgb(231, 247, 6);
}